<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixming.privacy.monitor.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <!-- permissions for baidu location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 短信、彩信相关 -->
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Activity" 
        android:name="com.ixming.privacy.monitor.android.PAApplication">
        
        <activity
            android:name="com.ixming.privacy.android.splash.activity.SplashActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme.Activity.Launcher"
            android:launchMode="singleTask">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <activity
            android:name="com.ixming.privacy.android.login.activity.LoginActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"/>
                
        <activity
            android:name="com.ixming.privacy.android.main.activity.MainActivity"
            android:label="@string/app_name" 
            />
        <activity
            android:name="com.ixming.privacy.android.main.activity.UserListActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            />
        
        <activity
            android:name="com.ixming.privacy.android.main.activity.PrivacyLocationActivity"
            android:label="@string/app_name" 
            />
        <activity
            android:name="com.ixming.privacy.android.main.activity.PrivacyPhoneActivity"
            android:label="@string/app_name" 
            />
        <activity
            android:name="com.ixming.privacy.android.main.activity.PrivacyLocationDateActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            />
        
        <activity
            android:name="com.ixming.privacy.android.main.activity.HistoryOnMapActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            />
        <activity
            android:name="com.ixming.privacy.android.main.activity.HistoryOnMapActivity2"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            />
        
        <activity
            android:name="com.ixming.privacy.android.main.activity.HistoryOnMapActivity3"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            >
        </activity>
        
        <!-- baidu location service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0xbQi5UXMEAlUcriOfvH3LFt" />
    </application>

</manifest>