<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhaoni.findyou.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <!-- permissions for baidu location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".PAApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Activity" >
        <activity
            android:name=".splash.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Activity.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.activity.NewMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.activity.PersonLocationV3Activity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.activity.FeedbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".common.activity.WebViewActivity"
            android:label="@string/app_name"/>

        <receiver
            android:name=".monitoring.service.BootReceiver"
            android:process=":IXMingprivacy" >
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".monitoring.service.TriggerActionsReceiver"
            android:process=":IXMingprivacy" >

            <!-- 开关机 -->
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>

            <!--
            网络状态改变 
            android:process=":IXMingprivacy"


            -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.zhaoni.findyou.android.monitoring.db.LocalDBProvider"
            android:authorities="com.zhaoni.findyou.android.monitoring.db.provider"
            android:exported="false" />

        <service
            android:name=".monitoring.service.MainService"
            android:enabled="true"
            android:process=":IXMingprivacy" />
        <!-- dianjin -->
        <activity
            android:name="com.bodong.dianjinweb.downloadmanager.DianJinDownloadManager"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.bodong.dianjinweb.web.DianjinWebAcitivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <service android:name="com.bodong.dianjinweb.service.DianJinService" />
        <!-- baidu location service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MdYImMc2QrPqndnFIO8oYBcW" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53f6f5ddfd98c54ce0006288" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENG_CHENNEL_VALUE"/>
    </application>

</manifest>